/* Root*/
:root{
    --black: #131515;
    --superDarkGrey: #1B1D1C;
    --veryDarkGrey: #222423;
    --moderatelyDarkGrey: #313330;
    --darkGrey: #62635d;
    --lightGrey: #B0B1A4;
    --white: #FFFFEC;
    --red: #FF3633;
    --orange: #FEA120;
    --yellow: #FCFC73;
    --green: #83D883;
    --blue: #84B1C2;
    --purple: #C185BD;
}

body{
    height: 100%;
    width: 99%;
    background-color: var(--black);
    color: var(--white);
    font-family: "IBM Plex Sans", sans-serif;
}

.title{
    font-family: "IBM Plex Mono", monospace;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 0rem;
}

.subtitle{
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
}

.hidden{
    display: none !important;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

div{
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--veryDarkGrey);
}

button{
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 0;
    border-radius: 0.5rem;

    color: var(--white);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.area1{
    background-color: var(--red);
}

.area2{
    background-color: var(--orange);
}

.area3{
    background-color: var(--blue);
}

.area4{
    background-color: var(--green);
}

.hamburger{
    display: none;
    z-index: 2;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: var(--white);
}

@media only screen and (max-width: 1150px){

    .navbar ul {
        position: fixed;
        left: -100%;
        top: 10%;
        flex-direction: column;
        background-color: var(--veryDarkGrey);
        border-radius: 0px;
        vertical-align: middle;
        padding-bottom: 20%;
        padding-top: 20%;
        padding-left: 5%;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        z-index: 1;
    }

    .navbar li a:hover{
        color: var(--white);
        transform: scale(1.2) translate(7%);
        text-shadow: 2px 2px 1px var(--black);
        transition: 1s;
        overflow: hidden;
    }

    .navbar ul.active{
        left: 0;
        z-index: 2;
    }

    .navbar li{
        margin: 2.5rem 0;
    }

    .hamburger{
        display: block;
        cursor: pointer;
        position: absolute;
        right: 5%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
    
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

#no-boot {
    padding: 0;
}

.empty{
    display: none;
}